@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.story-bg {
  background: linear-gradient(to bottom, #00000000, #00000070);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .section-heading {
    @apply w-full flex justify-between items-center pr-5 md:pr-10
  }
  .section-heading h3 {
    @apply text-xl sm:text-2xl font-semibold
  }
  .section-heading button {
    @apply text-[#9058FF] font-semibold text-xs sm:text-base md:text-xl
  }
  .nav-link {
    @apply px-2 py-2 rounded-full my-2 2xl:my-0 2xl:px-5 2xl:py-4 2xl:rounded-xl 
  }
  #navbar img {
    @apply w-7 h-7 2xl:w-6 2xl:h-6
  }
}
